.farola {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px; /* Más ancho */
  height: 100vh;
  border-radius: 8px 0 0 8px;
  z-index: 900;
  overflow: visible;
}

.farola::before {
  content: '';
  position: absolute;
  top: 0;
  left: -400px; /* Más extendido para que el gradiente sea más gradual */
  width: 400px;
  height: 100%;
  border-radius: 8px 0 0 8px;
  z-index: -1;
  transition: background 0.5s ease, box-shadow 0.5s ease;
}

.farola.dark {
  background: #ffffff;
}

.farola.dark::before {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.35) 40%,
    rgba(255, 255, 255, 0.15) 70%,
    rgba(255, 255, 255, 0) 100%
  );
}

.farola.light {
  background: #000000;
}

.farola.light::before {
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.35) 40%,
    rgba(0, 0, 0, 0.15) 70%,
    rgba(0, 0, 0, 0) 100%
  );
}

.farola.bio {
  background: #2d825a;
}

.farola.bio::before {
  background: linear-gradient(
    to left,
    rgba(98, 178, 124, 0.5) 0%,
    rgba(98, 178, 124, 0.35) 40%,
    rgba(98, 178, 124, 0.15) 70%,
    rgba(98, 178, 124, 0) 100%
  );
}
