/* src/styles/global.css */

/* Estilo para el botón de cambio de tema */
.theme-toggle-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.theme-toggle-btn:hover {
  background-color: var(--secondary-color);
}
